<section
  class="w-full max-w-screen-hero mx-auto text-center grid min-h-[30dvh]"
>
  <div class="flex flex-col-reverse gap-6">
    <h2 class="text-3xl sm:text-5xl font-bold text-balance">
      Component Catalog
    </h2>
    <a
      href="/"
      class="w-fit mx-auto border px-3 py-1 text-pretty text-sm sm:text-base rounded-md bg-zinc-900/10 hover:bg-transparent duration-200 transition-all"
      >Support us with a star on GitHub ✨</a
    >
  </div>
  <p class="mt-6 text-base sm:text-lg text-pretty">
    Simple and clean design components that you can copy and paste into your
    Angular applications. Accessible, customizable and responsive.
  </p>
</section>
