<div>
  <div class="w-full mb-2 flex flex-wrap place-content-between">
    <p class="text-xl font-semibold capitalize">{{ component.name }}</p>
    <button
      (click)="copyToClipboard()"
      class="w-fit border px-3 py-1 text-pretty text-sm sm:text-base font-semibold rounded-md bg-zinc-900/10 hover:bg-transparent duration-200 transition-all"
    >
      Copy
    </button>
  </div>
  <div
    class="w-full h-fit min-h-[200px] border border-zinc-900/20 rounded-sm flex justify-center items-center p-4"
  >
    <ng-container *ngComponentOutlet="component.showcase"></ng-container>
  </div>
</div>
